* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: blue;
  padding-left: 20px;
}

.sidebar {
  display: flex;
  flex: 0 0 calc(30% - 5px);
  background-color: green;
  height: 500px;
  padding-left: 20px;
}

.content {
  display: flex;
  flex: 0 0 calc(70% - 5px);
  background-color: red;
  height: 500px;
  padding-left: 20px;
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(130, 38, 153);
  padding-left: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
